/node_modules
/public/hot
/public/storage
/public/attendances
/public/equipment_guarantees
/public/contracts
/public/licenses
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
